* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menuItem {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
}

.menuItem:hover {
  text-decoration: underline;
}

.hamburger {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  border: black solid 1px;
  background: white;
  cursor: pointer;
}
 
 /* --------------- SLIDER --------------- */
  /* body{
    background: #1e1e1e;
  }
  header{
    height: 100vh;
    display: grid;
    place-items: center;
  }
  .box{
    width: 300px;
    height: 200px;
  }
  .slider{
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.5);
    overflow: hidden;
  }
  .slider img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }
  .slider ul li{
    list-style: none;
    transition: 0.5s ease-in-out;
    opacity: 0;
  }
  .slider ul li.active{
    opacity: 1;
  }
  .slider .btn{
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    color: #fafafa;
    font-size: 1.7em;
    cursor: pointer;
    -webkit-text-stroke: 0.2px black;
  }
  .slider .btn#prev{
    left: 5px;
  }
  .slider .btn#next{
    right: 5px;
  } */