@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family:'Oswald', sans-serif;
    /* border: 1px red solid; */
}
header a:hover, button:hover{
    color:#cbac6b
}
.navbar-expand-lg.bg-body-tertiary{
    background: none!important;
    font-size: 1.5em;
    z-index: 10;
}
.w-90{
    width: 90%!important;
}
.p-20{
    padding: 20px;
}
.bg-luxe{
    background-color: #cbac6b;
}
.nav-item:hover, a.nav-link.active{
    background-color: #cbac6b ;   
    color: white;
}
.nav-link:focus {
color: white!important;
}
.w-30{
    width: 30%;
}
.bg-333{
    background-color: #333!important;
}
.bg-unset{
    background-color: unset;
}
.bg-luxe-hover:hover{
    color: #cbac6b!important;
    background-color: unset!important;
}
.lang{
    right: 3%;
    width: 55px;
    height: 65px;
    clip-path: polygon(0% 0%, 100% 0, 100% 72%, 51% 100%, 0 71%);
    text-decoration: underline 2px;
}
/*---- SLIDER ----*/


.carousel-indicators button{
    border-radius: 50%;
    height: 25px!important;
    border:none;
    background: unset!important;
    margin-bottom: 2rem;
}
.carousel-indicators .active{
    border: none;
    background: white!important;;
}
#btn1,#btn2,#btn3{
    border: 3px white solid;
}

.mini_contain {
    top: 60%;
    transform: translate(-50%,-50%);
}
.mini_contain h2,button{
    background-color: transparent;
   padding: 1% 5%;
}
.mini_contain button{
    border: 3px white solid;
    border-radius: 5px;
}
.m-top100{
    margin-top: 100px;
}
.text-center1{
    margin-top: 50px;
}
.text-center.fs-1.fw-medium.titre3{
    margin-top: 60px;
}
.d-flex.cards1{
    margin-top: 25px;
}
.text-center.fs-1.fw-medium.titrecards2{
    margin-top: 60px;
}
.text-center.trait3{
    margin-bottom: 60px;
}

/* ----------------------CONTACT PAGE  ------------------------------*/

.contain_contact{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coordonnee ul li{
    flex-direction: column;
    display: flex;
    width: 50%;
    height: 83px; 
}


form {
    display: flex;
    flex-direction: column;
    width: 40%;
}
form input{
    padding: 15px;
    margin-top: 15px;
    background-color: rgba(172, 171, 171, 0.349);
    border: none;
}
.inputs_name,.inputs_contact{
    justify-content: space-between;
    display: flex;
}
 #name{
    width: 60%;
}
#first_name{
    width: 38%;
}
#email{
    width: 70%;
} 
input[type=submit]{
    width: 20%;
    background-color: #cbac6b;
    color: white;
}

/* -----------------------------------MEDIA QUERY ------------------------------------- */
.logo_a1{
    display: none;
}
@media screen and (max-width:1400px){
.navbar-expand-lg.bg-body-tertiary{
    font-size: 16px;
}
}
@media screen and (max-width: 992px){

    .logo_a1{
        display: block;
    }
    .navbar-brand{
        display: none;
    }
    .navbar-expand-lg .navbar-nav {
        display: flex;
        flex-direction: row;
        height: 10vh;
    }
    .navbar-collapse{
        background-color: #333;
        display: flex;
    }
    ul .dropdown-menu{
        border: none;
    }
    .tel:hover {
        color: #cbac6b;
        text-decoration: underline;
        cursor: pointer;
    }
    .tel_reseau{
        flex-direction: column;
        text-align: center;
    }
    .reseau{
        font-size: 22px;
    }
    .coordonnee{
        width: 40%;
    }
    .contain_contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mini_contain h2 {
        font-size: 18px;
    }
    .lang{
        display: none;
    }
}

/* -------------------------------------ERROR 404 ----------------------- */
.error_404_body{

 background: #333!important;}